**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
ratings_data = pd.read_csv('ratings.dat', names = ['UserID', 'MovieID', 'Rating', 'Timestamp'], sep = '::')
ratings_data.head()

C:\Users\Egor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [5]:
movies_data = pd.read_csv('movies.dat', names = ['MovieID', 'Title', 'Genres'], sep = '::')
movies_data.head()

C:\Users\Egor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [16]:
search_movie = ratings_data[ratings_data.Rating == 5]['MovieID'].value_counts().head(1).index[0]
movies_data[movies_data.MovieID == search_movie]

      MovieID                   Title        Genres
2789     2858  American Beauty (1999)  Comedy|Drama

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

 Ищем точные наименоваия стран:

In [12]:
data_power[data_power['country'].str.contains('est', case=False)]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

Фильтруем по отдельности (можно все вместе, но получается не читаемо)

In [39]:
Data_balt = data_power[data_power['country'].isin(['Latvia','Lithuania','Estonia'])]
Data_balt_cat = Data_balt[Data_balt['category'].isin([4, 12, 21])]
Data_balt_cat_year = Data_balt_cat[(Data_balt_cat.year >= 2005) & ( Data_balt_cat.year <= 2010)]
Data_balt_cat_year.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [44]:
Data_balt_cat_year[Data_balt_cat_year.quantity > 0]['quantity'].sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [57]:
data_afisha = pd.read_html('https://www.ticketland.ru/schedule/')[1]
data_afisha.head()

,0,1,2,3,4,5,6,7
0,Площадка,1 Понедельник,2 Вторник,3 Среда,4 Четверг,5 Пятница,6 Суббота,7 Воскресенье
1,Академ Джаз Клуб (в ресторане Венеция),NaN,NaN,NaN,NaN,20:30 Андрей Сапунов,20:30 Александр Демидов. Поэтическо-музыкальна...,NaN
2,Ботанический сад МГУ «Аптекарский огород»,NaN,NaN,NaN,NaN,21:00 MantraLive. Мантры с симфоническим оркес...,NaN,NaN
3,ГБУК г. Москвы «Театр «Уголок дедушки Дурова»,NaN,NaN,11:30 Однажды на Мышиной планете... 12:30 Одна...,11:00 Репка 11:30 Однажды на Мышиной планете.....,11:30 Однажды на Мышиной планете... 12:00 Капр...,11:00 Репка 11:30 Однажды на Мышиной планете.....,11:00 Счастливый день Емели 11:30 Однажды на М...
4,ДК «Яуза»,NaN,20:00 Стас Пьеха. Юбилейный концерт,NaN,NaN,NaN,NaN,NaN